<!-- <h1>HELLO WORLD!!!</h1> -->
<h1>Uptime Monitoring</h1>>
<h2>Made Simple</h2>

<div class="blurb">We offer simple uptime monitoring for HTTP/HTTPS sites of all kinds. When your site gets down, we\'ll send you a text to let you know
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt officia minus obcaecati nihil, saepe distinctio fugiat quae velit nesciunt! Architecto repudiandae sint dolorem veritatis ullam porro, delectus illum perspiciatis eligendi!
</div>

<div class="ctaWrapper">
    <a class="cta green" href="account/create">Get started</a>
    <a class="cta blue" href="session/create">Login</a>
</div>
